*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 20px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(8, 50px);
}

.cell {
  height: 50px;
  background-color: black;
  border: 1px solid white;
}

.ship {
  background-color: aqua;
}
